@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700'); 
@import url('font-awesome.css');  


footer i{
    color: white;
}

.bg-red{
    background-color: #ed5440;
}

.bg-pink{
    background-color: #d866b2;
}

.bg-green{
    background-color: #4ac467;
}

.bg-blue{
    background-color: #2aaef0;
}

.bg-footer{
    background-color: #037de8;
    bottom: 0px;
}

.nav-focus{
    color: #037de8 !important;
}

.btn-primary{
    background-color: #328cca !important;
}

.bg-blue2{
    background-color: #3876ac;
}

.bg-accordion{
    background-color: #b9b9b9 !important; 
}