@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700'); 
@import url('font-awesome.css');  


footer i{
    color: white;
}

.bg-red{
    background-color: #ed5440;
}

.bg-pink{
    background-color: #d866b2;
}

.bg-green{
    background-color: #4ac467;
}

.bg-blue{
    background-color: #2aaef0;
}

.bg-footer{
    background-color: #037de8;
    bottom: 0px;
}

.nav-focus{
    color: #037de8 !important;
}

.btn-primary{
    background-color: #328cca !important;
}

.bg-blue2{
    background-color: #3876ac;
}

.bg-accordion{
    background-color: #b9b9b9 !important; 
}

.accordion-button:after{
    display: none;
}

.accordion-button:before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-right: 20px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::before {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: rotate(0deg);
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
