@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    font-family: 'JetBrains Mono';
}

.vertical-line{
    border-left: 1px solid black;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 3px;
}

.tracker-card{
    border-bottom-left-radius: 3em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 3em;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-tracker{
    background-color: #2d3146;
    color: white;
}

input::placeholder {
    font-size: 10px;
}

input{
    border: 1px solid #ccc;
}

.price-income{
    color: green;
}

.price-expense{
    color: red;
}

.delete-button {
  cursor: pointer;
  background-color: rgb(221, 0, 0);
  color: white;
  border-radius:1px;
  font-size: 15px;
  line-height: 15px;
  padding: 1px 2px;
  top: 30%;
  left: 0px;
  position: absolute;
  opacity: 0;
  transform: translate(-100%, -50%);
  transition: opacity 0.3s ease-in;
}
  
.history li:hover .delete-button{
  opacity: 1;
}
